<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Dashboard - SB Admin</title>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet"/>
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../../static/css/style.css">


</head>
<body class="sb-nav-fixed">
<div th:replace="admin/layout/header :: header"></div>
<div id="layoutSidenav">
    <div th:replace="admin/layout/sidebar :: sidebar"></div>
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <h1 class="mt-4">UPDATE ORDER</h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item active">Update status</li>
                </ol>
                <form th:action="@{/admin/order/update}" th:object="${order}" method="POST" class="col col-8">
                    <div class="form-outline mb-4" style="display:none">
                        <label class="form-label" for="id">ID:</label>
                        <input name="fullName" type="text" id="id" class="form-control form-control-lg" th:field="*{id}" />
                    </div>
                    <div class="form-outline mb-4">
                        <label class="form-label" for="name">Name:</label>
                        <input type="text" id="name" class="form-control form-control-lg" th:field="*{user.fullName}" disabled="disabled"/>
                    </div>
                    <div class="form-outline mb-4">
                        <label class="form-label" for="form2Example17">Receiver name:</label>
                        <input type="email" id="form2Example17" class="form-control form-control-lg" th:field="*{receiverName}" disabled="disabled"/>
                    </div>
                    <div class="form-outline mb-4">
                        <label class="form-label" for="phone">Receiver phone:</label>
                        <input type="text" id="phone" class="form-control form-control-lg" th:field="*{receiverPhone}" disabled="disabled"/>
                    </div>
                    <div class="form-outline mb-4">
                        <label class="form-label" for="address">Receiver address:</label>
                        <input type="text" id="address" class="form-control form-control-lg" th:field="*{receiverAddress}" disabled="disabled"/>
                    </div>
                    <div class="form-outline mb-4">
                        <label class="form-label" for="date">Order date:</label>
                        <input type="text" id="date" class="form-control form-control-lg" th:field="*{orderDate}" disabled="disabled"/>
                    </div>
                    <div class="col col-5">
                        <select th:field="*{status}" class="form-select">
                            <option value="" disabled selected>Status</option>
                            <option value="PENDING">PENDING</option>
                            <option value="CONFIRMED">CONFIRMED</option>
                            <option value="SHIPPING">SHIPPING</option>
                            <option value="COMPLETED">COMPLETED</option>
                            <option value="DEFEAT">DEFEAT</option>
                        </select>
                    </div>
                    <div class="pt-1 mb-4" style="margin-top: 10px">
                        <button class="btn btn-warning btn-lg btn-block" type="submit">Update</button>
                    </div>
                </form>
            </div>
        </main>
        <div th:replace="admin/layout/footer :: footer"></div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
<script src="../../../static/js/script.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
<script src="../../../static/js/chart-area-demo.js"></script>
<script src="../../../static/js/chart-bar-demo.js"></script>
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js"
        crossorigin="anonymous"></script>
<script src="../../../static/js/datatables-simple-demo.js"></script>
</body>
</html>

</body>
</html>